.button {
  border-radius: 12px;
  border: 1px solid var(--color-primary);
  background-color: var(--color-black);
  color: var(--color-primary);
  display: inline-flex;
  padding: 10px 16px;
  cursor: pointer;
  font-family: "Poppins", sans-serif;
}
